@import url(https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Public+Sans:ital,wght@1,200&display=swap);
* {
    box-sizing: border-box
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    font-family: "Otomanopee One", sans-serif;
    background: #f2f2f2
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='560' preserveAspectRatio='none'%3E%3Cg mask='url(%26quot;%23SvgjsMask1000%26quot;)' fill='none'%3E%3Cpath fill='%230e2a47' d='M0 0h1440v560H0z'/%3E%3Cpath d='M591.322 332.279c47.862 2.408 98.724-11.616 123.337-52.736 25.142-42.004 15.192-94.67-9.972-136.661-24.387-40.694-65.923-69.335-113.365-69.154-47.151.18-89.704 28.402-111.873 70.016-20.94 39.306-14.416 86.08 8.311 124.381 22.21 37.43 60.094 61.967 103.562 64.154' fill='rgba(28, 83, 142, 0.4)' class='triangle-float3'/%3E%3Cpath d='M96.582 340.72l116.971 8.179 8.18-116.971-116.971-8.18z' fill='rgba(28, 83, 142, 0.4)' class='triangle-float1'/%3E%3Cpath d='M463.89 301.474l137.172-92.523-92.524-137.173-137.172 92.524z' fill='rgba(28, 83, 142, 0.4)' class='triangle-float3'/%3E%3Cpath d='M245.819 235.5l20.28-128.045L117.774 215.22zM1166.093 538.427c40.935-.768 61.983-45.279 80.018-82.035 15.296-31.174 23.44-65.895 7.769-96.882-17.267-34.142-49.565-59.635-87.787-61.334-41.144-1.829-83.166 16.478-102.434 52.878-18.348 34.661-1.772 74.03 17.04 108.442 19.928 36.453 43.856 79.71 85.394 78.931' fill='rgba(28, 83, 142, 0.4)' class='triangle-float2'/%3E%3Cpath d='M1347.25 102.61l44.018 54.357 59.526-93.204z' fill='rgba(28, 83, 142, 0.4)' class='triangle-float1'/%3E%3C/g%3E%3Cdefs%3E%3Cstyle%3E@keyframes float1{0%25,to{transform:translate(0,0)}50%25{transform:translate(-10px,0)}}@keyframes float2{0%25,to{transform:translate(0,0)}50%25{transform:translate(-5px,-5px)}}@keyframes float3{0%25,to{transform:translate(0,0)}50%25{transform:translate(0,-10px)}}.triangle-float1{animation:float1 5s infinite}.triangle-float2{animation:float2 4s infinite}.triangle-float3{animation:float3 6s infinite}%3C/style%3E%3Cmask id='SvgjsMask1000'%3E%3Cpath fill='%23fff' d='M0 0h1440v560H0z'/%3E%3C/mask%3E%3C/defs%3E%3C/svg%3E");
    border-bottom: 1px solid #000
}

.titulo {
    color: #fff;
    font-size: 50px;
    padding: 40px 0 20px;
    text-align: center
}

.titulo-dos {
    color: #ff0;
    font-family: "Public Sans", sans-serif;
    font-size: 30px;
    text-align: center
}

input {
    outline: thin;
    color: #00f;
    font-size: 1.3rem;
    margin: 20px 0;
    padding: 7px;
    width: 300px
}

.third-title {
    text-align: center;
    margin: 20px 0
}

.grid-body {
    margin-left: -15px
}

.card-grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 0;
    padding: 0 20px 0 0
}

.card {
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    width: 20%
}

.card>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    background: rgba(94, 90, 97, .7);
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    display: flex;
    justify-content: center;
    align-items: center
}

.hover-galeria a, p {
    cursor: pointer;
    color: #fff;
    font-family: "Public Sans", sans-serif;
    text-decoration: none
}

.card:hover .hover-galeria {
    -webkit-transform: scale(1);
    transform: scale(1)
}

footer {
    background: #414141;
    padding: 60px 0 30px;
    margin: auto;
    overflow: hidden;
    text-align: center
}

@media screen and (max-width:900px) {
    .card {
        width: 40%
    }
    .hover-galeria a, p {
        font-size: 10px
    }
}

@media screen and (max-width:600px) {
    .card {
        width: 80%
    }
    .titulo {
        font-size: 30px
    }
    .titulo-dos {
        font-size: 15px
    }
    input {
        color: #00f;
        margin: 20px 0;
        padding: 3px;
        width: 200px
    }
}

/*# sourceMappingURL=main.49fd5728.chunk.css.map */